<!doctype html>
<html>
  <head>
    <title>23rd Street Station - Galveston, TX</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#10012C" />
    <link href="./style.css" rel="stylesheet" type="text/css" charset="utf-8" />
  </head>

  <body>
    <div class="root">
      <div class="sidebar">
        <div class="logo"><img src="{{ logo }}" alt="23rd Street Station Piano Bar" /></div>
        <div class="description"><h2>{{ subtitle }}</h2></div>
        <div class="meta">
          <div class="address">
            <each loop="a in address">
              <div>{{ a }}</div>
            </each>
          </div>
          <div class="phone"><a href="tel:{{ phone.replace(/[^0-9]/g, '') }}">{{ phone }}</a></div>
          <div class="hours">
            <div>Hours:</div>
            <each loop="h in hours">
              <div>{{ h }}</div>
            </each>
          </div>
        </div>
        <div class="facebook">
          <a href="https://www.facebook.com/23streetstation/events" target="_blank">
            <div>Check out our events on Facebook!</div>
            <div><img src="../static/fb.jpg" width="200" height="60" alt="Facebook" /></div>
          </a>
        </div>
      </div>

      <div class="main">
        <div class="header">
          <h3 class="title">{{ header }}</h3>
          <p class="description">{{ description }}</p>
        </div>

        <div class="glide">
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
              </svg>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
              </svg>
            </button>
          </div>

          <div class="glide__bullets" data-glide-el="controls[nav]">
            <each loop="pic in slideshow.pictures.map((e, i) => i)">
              <button class="glide__bullet" data-glide-dir="={{ i }}"></button>
            </each>
          </div>

          <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
              <each loop="pic in slideshow.pictures">
                <li class="glide__slide">
                  <a href="../static/slideshow/{{ pic }}" target="_blank">
                    <picture>
                      <source media="(min-width: 649px)" srcset="../static/slideshow/scaled/S_{{ pic }}">
                      <source media="(max-width: 650px)" srcset="../static/slideshow/scaled/XS_{{ pic }}">
                      <img src="../static/slideshow/scaled/XS_{{ pic }}">
                    </picture>
                  </a>
                </li>
              </each>
            </ul>
          </div>
        </div>

        <h3>{{ calendar.title }}</h3>
        <p>{{ calendar.subtitle }}</p>
        <div class="calendar">
          <each loop="day in ['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
          <div class="calendar_day">
            <div class="day">{{ day }}</div>
            <div class="event">
              <span class="description">{{ calendar.specials[day].event }}</span>
              <span class="time">{{ calendar.specials[day].time }}</span>
            </div>
          </div>
          </each>
        </div>
        <div id="google_calendar">
          <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=MjNyZHN0cmVldHN0YXRpb24uY29tXzlzc2ZscGtxdDdjcWZyMGZxaG5wdDY1NzVvQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%235A9A08&amp;showTz=1&amp;showCalendars=0&amp;showPrint=0&amp;showTabs=0&amp;mode=AGENDA&amp;showDate=1&amp;showNav=1" style="border-width:0; width: 100%; height: 400px" frameborder="0" scrolling="no"></iframe>
        </div>
        <div id="map">
          <iframe src="https://www.google.com/maps/embed/v1/place?q=23rd+street+station+piano+bar+77550&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <script src="./script.js" type="text/javascript"></script>
  </body>
</html>
