@import 'normalize.css';
@import '@glidejs/glide/dist/css/glide.core.min.css';
@import '@glidejs/glide/dist/css/glide.theme.min.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url('../static/bg3.jpg');
  color: #fff;
  font-family: system-ui;
  margin: 1em auto;
}

a:link,
a:visited,
a:active {
  color: #fff;
}

.root {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1em;
  align-items: start;
}

.glide {
  margin: 1em 0;
  word-break: keep-all;
  width: 100%;

  & img {
    max-height: 400px;
    width: auto;
  }
}

.sidebar {
  flex: none;
  width: 325px;
  text-align: center;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1em;

  & .hours {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 1080px) {
  .root {
    display: block;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 1em;
  }
}

.main {
  padding: 10px;
  background: #10012c;
  background: rgba(16, 1, 44, 0.8);
  border-radius: 1em;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.calendar_day {
  margin: 10px 0;

  & .day {
    font-weight: bold;
  }

  & .time::before {
    padding-left: 5px;
    content: '@';
  }
}

#map {
  width: 100%;
  height: 95%;
  height: calc(100vh - 2em);
  max-width: 100%;
  list-style: none;
  transition: none;
  overflow: hidden;

  & iframe {
    margin: 0;
    margin-top: 1em;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.glide__arrow--prev {
  left: 1.5rem;
}

.glide__arrow--next {
  right: 1.5rem;
}

.glide__arrow {
  background-color: #818999;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 30px;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-in-out;
  width: 30px;
  z-index: 1;
}
